@model List<Application.Dtos.StudentsWithCoursesDto>

<h3>Students:</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Family</th>
            <th>Father Name</th>
            <th>Courses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.Name</td>
                <td>@student.Family</td>
                <td>@student.FatherName</td>
                <td>
                    @if (student.Courses != null)
                    {
                        @foreach (var course in @student.Courses)
                        {
                            @course.Name;
                            <br />
                        }
                    }
                    else
                    {
                        @null;
                    }

                </td>

            </tr>
        }
    </tbody>


</table>
